.Polaris-FooterHelp__Icon {
  display: none;
}
span.Polaris-Button__Text > a {
  color: #202223;
  text-decoration: none;
}
.Polaris-Card__Header {
  padding-bottom: 2rem;
}
.Polaris-FormLayout__Items {
  padding: 20px;
}
.Polaris-FormLayout--condensed .Polaris-FormLayout__Item {
  min-width: auto;
}
.Polaris-FormLayout__Item > h2 > div:first-child {
  margin-bottom: 30px;
}
.Polaris-Button--plain:hover,
.Polaris-Button--plain:focus {
  text-decoration: none !important;
}

.Polaris-Card__Header .Polaris-ButtonGroup {
  justify-content: flex-end;
}
.Polaris-FormLayout--condensed .Polaris-FormLayout__Item:last-child {
  display: flex;
  align-items: center;
  margin-top: 8px;
}
.Polaris-ResourceItem__Content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Polaris-TextField__Input[type="number"] {
  width: 50px;
}
